
.wrapper{
    max-width: 1715px;
    margin: 29px  auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;



    a{
        text-decoration: none;
        color: #FFFFFF;
    }
    li{
        display: inline;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
    }
    
}

.social_network{
    display: flex;
    align-items: center;
    a{
        margin-right: 50px;
    }
    a:last-child {
        margin-right: 0;
    }

}

.wrapper-cards{
    max-width: 731px;
    margin: 0 auto;

    img {
        margin-bottom: 45px;
        max-width: 100%;
    }
    
    p {
        margin-bottom: 21px;
    }

    p:last-child{
        margin-bottom: 77px;
    } 


}
.Cards-content{
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    color:#FFFFFF;
}

.button{
    margin: 0 auto;
    button{
        display: block;
        width: 187px;
        height: 73px;
        font-weight: 400;
        font-size: 17px;
        color: #fff;
        background-color: #326CF9;
        padding: 10px;
        text-align: center;
        border-radius: 40px;
        cursor: pointer; 
        transition: 0.2s;
        margin-top: auto; 
        border: none;
        margin-bottom: 100px;
    }
    button:hover{
        background-color: #fff;
        color: #326CF9;
        border-color: #fff;
    }
}

.content-left{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    
}
.content-right{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.time{
    color:wheat;
}
.modal-track {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;


    svg {
        fill: white;
    }

  }
  
  .modal-content_track {
    width: calc(50% + 10px * 2);
    height: 800px;
    position: relative;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80%;
    overflow: auto;

 .modal-content_track::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }
      

    .volume-control {
        display: flex;
    }


    .track {
        

        .item {
            display: table;
            table-layout: fixed;
            width: 99%;
            max-width: 1920px;
            overflow: hidden;
            cursor: pointer;
            padding: 10px;
            border: 1px solid #326CF9;
            border-radius: 10px;
            margin-bottom: 15px;

            img {
                width: 60px;
                border-radius: 5px;
            }

            .title {
                display: flex;
                height: 50px;
                width: 90%;
                overflow: hidden;
                align-items: center;

                p {
                    margin-bottom: 5px;
                }



                svg{
                    width: 40px;
                    position: absolute;
                    right: 20px;
                    bottom: 50%;
                }

            }
        }
           .item:hover{
                box-shadow: 0 0 10px #326CF9;;
           } 

      }

      
      .track span {
        margin: 0 10px;
      }
      
      .track .time {
        flex: none;
      }
  }
  

  @media screen and (max-width: 768px) {
    .wrapper{ 
        max-width: 1200px;
        margin: 29px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .Cards-content{
        .content-left{
            margin-right:0px;

            p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 900;
            font-size: 15px;
            line-height: 28px;
            }
        }
        .content-right{
            p{
            font-family: "Roboto";
            font-style: normal;
            font-weight: 900;
            font-size: 15px;
            line-height: auto;
        }
    }
    }
  }
.album-item {
    position: relative;


    img {
        position: relative;
        z-index: 1;
    }


    span {
        position: relative;
        z-index: 2;
    }
}