.card__wrapper{
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:#fff;
}
    p {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    
    .card-container {
    background-color: #1E1F21;
    border-radius: 28px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #fff;
    padding-top: 30px;
    position: relative;
    width: 400px;
    max-width: 100%;
    text-align: center;

    a {
        text-decoration: none;
        color: #fff;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

    }


    a:hover{ 
        color:#326CF9;
    }
    
  
    
    .round {
        border: 1px solid  #326CF9;;
        border-radius: 50%;
        padding: 7px;
    }

    svg {
        margin-right: 28px;
    }
    




}
   
.card{
    background-color: #1E1F21;
    border-radius: 28px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #fff;
    padding: 50px;
    position: relative;
    width: 1158px;
    max-width: 100%;
    text-align: center;




    .count__controls {
        display: flex;
        justify-content: space-around;

        svg{
            fill: #fff;
        }

        span{
            display: block;
            font-size: 27px;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    .product__controls{
        margin-bottom: 20px;
        button{
            display: inline-block;
            box-shadow: none;
            background-color: transparent;
            background: none;
            cursor: pointer;
            border:none;
        }
    }




    .card__header{

        display: grid;
        grid-template-columns: 1fr repeat(4, 1fr) 1fr;
        column-gap: 30px;
        padding: 22px 0;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.2;
        letter-spacing: 0.2em;
        text-transform: uppercase;

    }

    .card__categ-under{
        margin-right: 42px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;
    

        h2{ 
            margin-bottom: 25px;

        }
        

        button{
            display: block;
            font-weight: 400;
            font-size: 17px;
            color: #fff;
            background-color: #326CF9;
            padding: 10px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer; 
            transition: 0.2s;
            margin-top: auto; 
            border: none;
            margin-bottom: 30px;
        }

        button:hover{
            background-color: #fff;
            color: #326CF9;
            border-color: #fff;
        }




    }
    
}



  .product_card {
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr) 1fr;
    column-gap: 30px;

    padding: 20px 0;
    border-bottom: 1px solid rgba(126, 155, 189, 0.3);

    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;

    @media (max-width: 346px) {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(60px, auto);
        column-gap: 15px;
        row-gap: 10px;
    }

    img {
        max-width: 100px;
        max-height: 100px;
    }
}

.product_card > * {
    align-self: center;


    .card__text{
        display: block;
        font-size: 24px;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: 700;
        margin-bottom: 20px;
    }
}


.product__controls {
    justify-self: center;
}

