footer {
    margin-top: 20px;
    background: #000000;
    font-family: 'Roboto', sans-serif!important;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

footer .footerinner {
    border-top: 1px solid #5c5c5c;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

footer .footerinner .header-section {
    font-weight: 600;
}

.column-section {
    display: flex;
    justify-content: space-between;
    flex: 0 0 500px;
}

footer .footerinner .header-section a {
    font-size: 21px;
}

.link {
    cursor: pointer;
}

footer .footerinner ul {
    list-style-type: none;
    margin: 0;
    padding-top: 1rem;
    margin-bottom:20px;
}

footer .footerinner ul li {
    margin-top: 0;
    display: inline;
}

footer .footerinner ul li a {
    color: #b1b1b1;
    letter-spacing: 0;
}

footer a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: #000;
}

footer a:hover {
    color: #326CF9;
}

footer .footer-left,footer .footer-right {
    width: 50%;
    display: flex;
    align-items: flex-start;
}

footer .footer-right {
    text-align: right;
    justify-content: flex-end;
}

footer .footer-right a {
    margin-left: 15px;
}

footer .footer-right .footer-socials {
    padding-top: 5px;
}

footer .footer-right .footer-socials a {
    text-align: center;
    font-size: 20px;
    margin-left: 0px;
    color: #FFF;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
}

footer .footer-right .footer-socials a i {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
}

footer .footer-left {
    width: 50%;
    text-align: left;
    margin-top: 4px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer .footer-left a {
    margin-right: 10px;
    padding-right: 10px;
}

footer .footer-left .footer-socials {
    margin-bottom: 5px;
}

footer .footer-left .footer-socials a {
    font-size: 19px;
    margin-left: 0px;
    color: #FFF;
    width: 25px;
    height: 25px;
    display: inline-block;
}


footer {
    svg:hover {
    stroke: #326CF9;
    fill:#326CF9;
  }
}




.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: black;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    border: 1px solid white;

    button {
        background:none;
        border:none;
        color:white;
    }


    div{
        h2{
            color:white;
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 20px;
            
        }
        p{
            margin-bottom: 10px;
        }
    }

    

  
    .modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        .close-btn {
            fill: #fff;
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 9999;
        }

    }
  }


  .modal_mailing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        padding: 4px 0;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin-top: 15px;
    }

}

.modal-mailing_content {
    width: calc(50% + 10px);
    position: relative;
    background-color: black;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80%;
    overflow: auto;


    .close {
        fill: #fff;
        position: absolute;
        right: 0;
    }



}
  