.form-password {
    z-index: 15;
    position: relative;
    background: #000;
    width: 70%;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(black, .1);
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    .form-panel_modal{

    }
}


