.wrapper-1 {
    max-width: 1715px;
    margin: 0 auto;
    color:#fff;
}

.content-video{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

    img {
        width: 336px;
    }
    

}

.content-video:last-child {
    margin-bottom: 0;
}